In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/home/simafard/Downloads/School Selection data//4. CollegeScorecard.csv')
columns_df1=df1.columns
df1

/tmp/ipykernel_7338/685142615.py:1: DtypeWarning: Columns (7,9,1427,1542,1561,1575,1725,1726,1727,1728) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('/home/simafard/Downloads/School Selection data//4. CollegeScorecard.csv')

,UNITID,OPEID,opeid6,INSTNM,CITY,STABBR,ZIP,AccredAgency,INSTURL,NPCURL,...,PELL_RPY_3YR_RT_SUPP,NOPELL_RPY_3YR_RT_SUPP,FEMALE_RPY_3YR_RT_SUPP,MALE_RPY_3YR_RT_SUPP,FIRSTGEN_RPY_3YR_RT_SUPP,NOTFIRSTGEN_RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C150_4_POOLED_SUPP,C200_L4_POOLED_SUPP,C200_4_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,galileo.aamu.edu/netpricecalculator/npcalc.htm,...,0.443586698337,0.45251396648,0.484818805093,0.406,0.423580786026,0.442452830189,NaN,0.30871831265508,NaN,0.35168556430446
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,www.collegeportraits.org/AL/UAB/estimator/agree,...,0.732297852901,0.795454545455,0.760521885522,0.755344418052,0.751552795031,0.765074770863,NaN,0.50854980789381,NaN,0.4730923834537
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,tcc.noellevitz.com/(S(miwoihs5stz5cpyifh4nczu0...,...,0.600877192982,0.775,0.610465116279,0.686567164179,0.632653061224,0.65,NaN,PrivacySuppressed,NaN,PrivacySuppressed
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.738341968912,0.85140562249,0.768378650554,0.798440979955,0.778156996587,0.791666666667,NaN,0.47821134615384,NaN,0.49412939796716
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/email/index.aspx,www.alasu.edu/cost-aid/forms/calculator/index....,...,0.320016820858,0.380829015544,0.364423717522,0.286530612245,0.315737051793,0.334633385335,NaN,0.25748195545488,NaN,0.29365162671232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,48285703,157107,1571,Georgia Military College-Columbus Campus,Columbus,GA,31909,NaN,http://columbus.gmc.cc.ga.us/,NaN,...,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN,NaN,NaN
7800,48285704,157101,1571,Georgia Military College-Valdosta Campus,Valdosta,GA,31605,NaN,http://valdosta.gmc.cc.ga.us/,NaN,...,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN,NaN,NaN
7801,48285705,157105,1571,Georgia Military College-Warner Robins Campus,Warner Robins,GA,31093,NaN,http://robins.gmc.cc.ga.us/,NaN,...,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN,NaN,NaN
7802,48285706,157100,1571,Georgia Military College-Online,Milledgeville,GA,31061,NaN,http://online.gmc.cc.ga.us/,NaN,...,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN,NaN,NaN
7803,48285707,157103,1571,Georgia Military College-Stone Mountain,Stone Mountain,GA,30083,NaN,http://fairburn.gmc.cc.ga.us/,NaN,...,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN,NaN,NaN

In [3]:
df2 = pd.read_csv('/home/simafard/Downloads/School Selection data/5. CollegeScorecardDataDictionary-09-12-2015.csv')
columns_df2=df2.columns
df2

,NAME OF DATA ELEMENT,Year,dev-category,developer-friendly name,VARIABLE NAME,API data type,label,VALUE,LABEL,SCORECARD? Y/N,SOURCE,NOTES
0,Unit ID for institution,NaN,root,id,UNITID,integer,NaN,NaN,NaN,NaN,IPEDS,NaN
1,8-digit OPE ID for institution,NaN,root,ope8_id,OPEID,integer,NaN,NaN,NaN,NaN,IPEDS,NaN
2,6-digit OPE ID for institution,NaN,root,ope6_id,opeid6,integer,NaN,NaN,NaN,NaN,IPEDS,NaN
3,Institution name,2013,school,name,INSTNM,string,NaN,NaN,NaN,Y,IPEDS,NaN
4,City,2013,school,city,CITY,string,NaN,NaN,NaN,Y,IPEDS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1948,3-year repayment rate for non-first-generation...,NaN,repayment,3_yr_repayment_suppressed.non_first_generation...,NOTFIRSTGEN_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1949,150% completion rate for less-than-four-year i...,2009 and 2010 cohorst measured in 2012 and 2013,completion,NaN,C150_L4_POOLED_SUPP,float,NaN,NaN,NaN,NaN,IPEDS,NaN
1950,150% completion rate for four-year institution...,2006 and 2007 cohorts measured in 2012 and 2013,completion,rate_suppressed.four_year,C150_4_POOLED_SUPP,float,NaN,NaN,NaN,Y,IPEDS,NaN
1951,200% completion rate for less-than-four-year i...,2008 and 2009 cohort measured in 2012 and 2013,completion,rate_suppressed.lt_four_year,C200_L4_POOLED_SUPP,float,NaN,NaN,NaN,Y,IPEDS,NaN
1952,200% completion rate for four-year institution...,2004 and 2005 cohorts measured in 2012 and 2013,completion,NaN,C200_4_POOLED_SUPP,float,NaN,NaN,NaN,NaN,IPEDS,NaN

In [4]:
df3= pd.read_csv('/home/simafard/Downloads/School Selection data/6. Crime_2015.csv')
columns_df3=df3.columns
df3

,MSA,ViolentCrime,Murder,Rape,Robbery,AggravatedAssault,PropertyCrime,Burglary,Theft,MotorVehicleTheft,State,City
0,"Abilene, TX M.S.A.",412.5,5.3,56.0,78.4,272.8,"3,609.0",852.0,"2,493.6",263.4,TX,Abilene
1,"Akron, OH M.S.A.",238.4,5.1,38.2,75.2,119.8,"2,552.4",575.3,"1,853.0",124.1,OH,Akron
2,"Albany, GA M.S.A.",667.9,7.8,30.4,157.9,471.8,"3,894.1","1,099.6","2,652.8",141.7,GA,Albany
3,"Albany, OR M.S.A.",114.3,2.5,28.2,20.7,63.0,"3,208.4",484.6,"2,476.1",247.7,OR,Albany
4,"Albuquerque, NM M.S.A.",792.6,6.1,63.8,206.7,516.0,"4,607.8",883.4,"3,047.6",676.9,NM,Albuquerque
...,...,...,...,...,...,...,...,...,...,...,...,...
373,"Guayama, Puerto Rico M.S.A.",251.6,11.4,6.3,74.6,159.3,823.2,265.5,531.1,26.6,"Guayama, Puerto Rico M.S.A.",Guayama
374,"Mayaguez, Puerto Rico M.S.A.",237.5,11.5,5.2,82.3,138.6,"1,320.0",377.1,861.6,81.3,"Mayaguez, Puerto Rico M.S.A.",Mayaguez
375,"Ponce, Puerto Rico M.S.A.",231.4,18.0,5.0,66.2,142.2,885.0,214.4,632.4,38.1,"Ponce, Puerto Rico M.S.A.",Ponce
376,"San German, Puerto Rico M.S.A.",92.1,5.4,4.6,16.1,66.0,420.0,168.9,226.5,24.6,"San German, Puerto Rico M.S.A.",San German
377,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",262.0,20.6,4.9,157.8,78.7,"1,281.2",281.8,835.0,164.3,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",San Juan

In [5]:
columns_df1 = set(df1.columns)
columns_df2 = set(df2.columns)
columns_df3 = set(df3.columns)

###### now I want to see whether they include same columns or not to figure out how they should get toghether

In [6]:
shared_columns_df1_df2_df3 = columns_df1.intersection(columns_df2).intersection(columns_df3)

In [9]:
shared_columns_df1_df2_df3

set()

In [10]:
shared_columns_df1_df2 = columns_df1.intersection(columns_df2)
shared_columns_df1_df2

set()

In [11]:
shared_columns_df2_df3 = columns_df2.intersection(columns_df3)
shared_columns_df2_df3

set()

In [12]:
shared_columns_df1_df3 = columns_df1.intersection(columns_df3)
shared_columns_df1_df3

set()

In [87]:
#     shared_column = list(shared_columns)[0]
#     merged_df = pd.merge(df1, df2, on=shared_column)

######  So these three datasets do not have a shared column now we just join them by puting them alongside each other

In [13]:
df=pd.concat([df1, df2,df3], axis=1)

In [14]:
df

,UNITID,OPEID,opeid6,INSTNM,CITY,STABBR,ZIP,AccredAgency,INSTURL,NPCURL,...,Murder,Rape,Robbery,AggravatedAssault,PropertyCrime,Burglary,Theft,MotorVehicleTheft,State,City
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,galileo.aamu.edu/netpricecalculator/npcalc.htm,...,5.3,56.0,78.4,272.8,"3,609.0",852.0,"2,493.6",263.4,TX,Abilene
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,www.collegeportraits.org/AL/UAB/estimator/agree,...,5.1,38.2,75.2,119.8,"2,552.4",575.3,"1,853.0",124.1,OH,Akron
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,tcc.noellevitz.com/(S(miwoihs5stz5cpyifh4nczu0...,...,7.8,30.4,157.9,471.8,"3,894.1","1,099.6","2,652.8",141.7,GA,Albany
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,2.5,28.2,20.7,63.0,"3,208.4",484.6,"2,476.1",247.7,OR,Albany
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/email/index.aspx,www.alasu.edu/cost-aid/forms/calculator/index....,...,6.1,63.8,206.7,516.0,"4,607.8",883.4,"3,047.6",676.9,NM,Albuquerque
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,48285703,157107,1571,Georgia Military College-Columbus Campus,Columbus,GA,31909,NaN,http://columbus.gmc.cc.ga.us/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7800,48285704,157101,1571,Georgia Military College-Valdosta Campus,Valdosta,GA,31605,NaN,http://valdosta.gmc.cc.ga.us/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7801,48285705,157105,1571,Georgia Military College-Warner Robins Campus,Warner Robins,GA,31093,NaN,http://robins.gmc.cc.ga.us/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7802,48285706,157100,1571,Georgia Military College-Online,Milledgeville,GA,31061,NaN,http://online.gmc.cc.ga.us/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7803,48285707,157103,1571,Georgia Military College-Stone Mountain,Stone Mountain,GA,30083,NaN,http://fairburn.gmc.cc.ga.us/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
columns=df.columns

###### in order to see unique values of some columns we can run the code bellow:

In [17]:
df.apply(lambda x: x.unique())[20:50]

locale2                                                     [nan]
LATITUDE        [34.7834, 33.5022, 32.3626, 34.7228, 32.3643, ...
LONGITUDE       [-86.5685, -86.8092, -86.174, -86.6384, -86.29...
CCBASIC         [18.0, 15.0, 21.0, 16.0, 2.0, 22.0, 23.0, 5.0,...
CCUGPROF        [9.0, 8.0, 6.0, 10.0, 3.0, 5.0, 13.0, 12.0, 2....
CCSIZSET        [14.0, 15.0, 6.0, 12.0, 13.0, 16.0, 2.0, 9.0, ...
HBCU                                              [1.0, 0.0, nan]
PBI                                               [0.0, 1.0, nan]
ANNHI                                             [0.0, 1.0, nan]
TRIBAL                                            [0.0, 1.0, nan]
AANAPII                                           [0.0, 1.0, nan]
HSI                                               [0.0, 1.0, nan]
NANTI                                             [0.0, 1.0, nan]
MENONLY                                           [0.0, 1.0, nan]
WOMENONLY                                         [0.0, 1.0, nan]
RELAFFIL        [nan, 74.0, 71.0, 68.0, 54.0, 55.0, 75.0, 95.0...
ADM_RATE        [0.8989, 0.8673, nan, 0.8062, 0.5125, 0.5655, ...
ADM_RATE_ALL    [0.8989, 0.8673, nan, 0.8062, 0.5125, 0.5655, ...
SATVR25         [370.0, 520.0, nan, 510.0, 380.0, 490.0, 420.0...
SATVR75         [450.0, 640.0, nan, 480.0, 620.0, 630.0, 500.0...
SATMT25         [350.0, 520.0, nan, 510.0, 370.0, 500.0, 540.0...
SATMT75         [450.0, 650.0, nan, 480.0, 640.0, 540.0, 600.0...
SATWR25         [nan, 480.0, 510.0, 530.0, 440.0, 500.0, 420.0...
SATWR75         [nan, 600.0, 620.0, 610.0, 580.0, 520.0, 568.0...
SATVRMID        [410.0, 580.0, nan, 575.0, 430.0, 555.0, 570.0...
SATMTMID        [400.0, 585.0, nan, 580.0, 425.0, 570.0, 595.0...
SATWRMID        [nan, 540.0, 565.0, 570.0, 510.0, 555.0, 470.0...
ACTCM25         [15.0, 22.0, nan, 23.0, 18.0, 24.0, 19.0, 20.0...
ACTCM75         [19.0, 28.0, nan, 29.0, 30.0, 23.0, 24.0, 26.0...
ACTEN25         [14.0, 22.0, nan, 18.0, 24.0, 23.0, 19.0, 17.0...
dtype: object

###### The comment bellow shows that the column named 'sch_deg' just contains nan values . so we can omit it.
locale2,sch_deg'

In [18]:
df['sch_deg'].unique()

array([nan])

######  now we want to drop columns that contain 60 percent or more nan values

In [21]:
# Calculate the threshold for non-NaN values (40% non-NaN values means 60% NaN values)
threshold = len(df) * 0.4

# Drop columns with more than 60% NaN values
df_without_nan = df.dropna(thresh=threshold, axis=1)

###### the  bellow dataframe says that 478 columns are not duplicate

In [22]:
df_without_nan

,UNITID,OPEID,opeid6,INSTNM,CITY,STABBR,ZIP,AccredAgency,INSTURL,NPCURL,...,DEP_RPY_3YR_RT_SUPP,IND_RPY_3YR_RT_SUPP,PELL_RPY_3YR_RT_SUPP,NOPELL_RPY_3YR_RT_SUPP,FEMALE_RPY_3YR_RT_SUPP,MALE_RPY_3YR_RT_SUPP,FIRSTGEN_RPY_3YR_RT_SUPP,NOTFIRSTGEN_RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C200_L4_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,galileo.aamu.edu/netpricecalculator/npcalc.htm,...,0.442857142857,0.458904109589,0.443586698337,0.45251396648,0.484818805093,0.406,0.423580786026,0.442452830189,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,www.collegeportraits.org/AL/UAB/estimator/agree,...,0.767798013245,0.739164696612,0.732297852901,0.795454545455,0.760521885522,0.755344418052,0.751552795031,0.765074770863,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,tcc.noellevitz.com/(S(miwoihs5stz5cpyifh4nczu0...,...,PrivacySuppressed,0.641114982578,0.600877192982,0.775,0.610465116279,0.686567164179,0.632653061224,0.65,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.800347222222,0.755644090305,0.738341968912,0.85140562249,0.768378650554,0.798440979955,0.778156996587,0.791666666667,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/email/index.aspx,www.alasu.edu/cost-aid/forms/calculator/index....,...,0.324102120294,0.350993377483,0.320016820858,0.380829015544,0.364423717522,0.286530612245,0.315737051793,0.334633385335,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,48285703,157107,1571,Georgia Military College-Columbus Campus,Columbus,GA,31909,NaN,http://columbus.gmc.cc.ga.us/,NaN,...,0.482781026641,0.478442280946,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN
7800,48285704,157101,1571,Georgia Military College-Valdosta Campus,Valdosta,GA,31605,NaN,http://valdosta.gmc.cc.ga.us/,NaN,...,0.482781026641,0.478442280946,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN
7801,48285705,157105,1571,Georgia Military College-Warner Robins Campus,Warner Robins,GA,31093,NaN,http://robins.gmc.cc.ga.us/,NaN,...,0.482781026641,0.478442280946,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN
7802,48285706,157100,1571,Georgia Military College-Online,Milledgeville,GA,31061,NaN,http://online.gmc.cc.ga.us/,NaN,...,0.482781026641,0.478442280946,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN
7803,48285707,157103,1571,Georgia Military College-Stone Mountain,Stone Mountain,GA,30083,NaN,http://fairburn.gmc.cc.ga.us/,NaN,...,0.482781026641,0.478442280946,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN

In [24]:
df_without_nan_duplicate=df_without_nan.drop_duplicates()
df_without_nan_duplicate

,UNITID,OPEID,opeid6,INSTNM,CITY,STABBR,ZIP,AccredAgency,INSTURL,NPCURL,...,DEP_RPY_3YR_RT_SUPP,IND_RPY_3YR_RT_SUPP,PELL_RPY_3YR_RT_SUPP,NOPELL_RPY_3YR_RT_SUPP,FEMALE_RPY_3YR_RT_SUPP,MALE_RPY_3YR_RT_SUPP,FIRSTGEN_RPY_3YR_RT_SUPP,NOTFIRSTGEN_RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C200_L4_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,galileo.aamu.edu/netpricecalculator/npcalc.htm,...,0.442857142857,0.458904109589,0.443586698337,0.45251396648,0.484818805093,0.406,0.423580786026,0.442452830189,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,www.collegeportraits.org/AL/UAB/estimator/agree,...,0.767798013245,0.739164696612,0.732297852901,0.795454545455,0.760521885522,0.755344418052,0.751552795031,0.765074770863,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,tcc.noellevitz.com/(S(miwoihs5stz5cpyifh4nczu0...,...,PrivacySuppressed,0.641114982578,0.600877192982,0.775,0.610465116279,0.686567164179,0.632653061224,0.65,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.800347222222,0.755644090305,0.738341968912,0.85140562249,0.768378650554,0.798440979955,0.778156996587,0.791666666667,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/email/index.aspx,www.alasu.edu/cost-aid/forms/calculator/index....,...,0.324102120294,0.350993377483,0.320016820858,0.380829015544,0.364423717522,0.286530612245,0.315737051793,0.334633385335,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,48285703,157107,1571,Georgia Military College-Columbus Campus,Columbus,GA,31909,NaN,http://columbus.gmc.cc.ga.us/,NaN,...,0.482781026641,0.478442280946,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN
7800,48285704,157101,1571,Georgia Military College-Valdosta Campus,Valdosta,GA,31605,NaN,http://valdosta.gmc.cc.ga.us/,NaN,...,0.482781026641,0.478442280946,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN
7801,48285705,157105,1571,Georgia Military College-Warner Robins Campus,Warner Robins,GA,31093,NaN,http://robins.gmc.cc.ga.us/,NaN,...,0.482781026641,0.478442280946,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN
7802,48285706,157100,1571,Georgia Military College-Online,Milledgeville,GA,31061,NaN,http://online.gmc.cc.ga.us/,NaN,...,0.482781026641,0.478442280946,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN
7803,48285707,157103,1571,Georgia Military College-Stone Mountain,Stone Mountain,GA,30083,NaN,http://fairburn.gmc.cc.ga.us/,NaN,...,0.482781026641,0.478442280946,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN

###### by using this code columns without numerical values can be seen

In [25]:
numerical_columns=df_without_nan_duplicate.select_dtypes(include=[int, float]).columns
numerical_columns

Index(['UNITID', 'OPEID', 'opeid6', 'HCM2', 'main', 'NUMBRANCH', 'PREDDEG',
       'HIGHDEG', 'CONTROL', 'st_fips',
       ...
       'D150_L4_POOLED', 'C200_L4', 'D200_L4', 'RET_FTL4', 'C200_L4_POOLED',
       'poolyrs200', 'D200_L4_POOLED', 'PCTFLOAN', 'UG25abv', 'CDR3'],
      dtype='object', length=302)

In [26]:
non_numerical_columns=list(set(df_without_nan_duplicate.columns) - set(numerical_columns))
len(non_numerical_columns)

176

In [27]:
non_numerical_columns

['PAR_ED_PCT_MS',
 'LO_INC_RPY_3YR_RT',
 'LO_INC_RPY_7YR_RT',
 'NONCOM_RPY_5YR_N',
 'COMPL_RPY_3YR_RT',
 'NOPELL_RPY_7YR_N',
 'NOPELL_RPY_3YR_RT',
 'LO_INC_RPY_3YR_RT_SUPP',
 'MD_INC_RPY_3YR_RT',
 'DEP_RPY_3YR_N',
 'PAR_ED_N',
 'COMPL_RPY_5YR_RT',
 'HI_INC_RPY_3YR_N',
 'PAR_ED_PCT_1STGEN',
 'INC_PCT_M2',
 'NOTFIRSTGEN_RPY_7YR_RT',
 'IND_DEBT_N',
 'FEMALE_RPY_7YR_N',
 'FEMALE_RPY_3YR_N',
 'IND_RPY_7YR_RT',
 'FEMALE_RPY_3YR_RT_SUPP',
 'DEP_RPY_3YR_RT',
 'LO_INC_RPY_5YR_RT',
 'LO_INC_DEBT_N',
 'CUML_DEBT_P10',
 'MD_INC_RPY_3YR_RT_SUPP',
 'FIRSTGEN_RPY_5YR_RT',
 'HI_INC_RPY_7YR_N',
 'PELL_DEBT_N',
 'COMPL_RPY_7YR_RT',
 'FIRSTGEN_RPY_3YR_RT_SUPP',
 'COMPL_RPY_5YR_N',
 'FEMALE_RPY_3YR_RT',
 'FIRSTGEN_DEBT_MDN',
 'FIRSTGEN_RPY_5YR_N',
 'DEP_STAT_N',
 'C150_L4_POOLED_SUPP',
 'RPY_7YR_N',
 'GRAD_DEBT_MDN10YR',
 'PAR_ED_PCT_PS',
 'GRAD_DEBT_N',
 'PELL_RPY_3YR_RT_SUPP',
 'LO_INC_RPY_7YR_N',
 'PELL_RPY_3YR_RT',
 'LO_INC_DEBT_MDN',
 'HI_INC_RPY_3YR_RT',
 'INSTURL',
 'PELL_RPY_3YR_N',
 'GRAD_DEBT_MDN',
 'NONCOM_RPY_7YR_RT',
 'IND_INC_PCT_M1',
 'COMPL_RPY_3YR_RT_SUPP',
 'DEP_INC_PCT_M1',
 'FIRSTGEN_RPY_3YR_RT',
 'ZIP',
 'MALE_RPY_7YR_N',
 'DEP_INC_PCT_LO',
 'RPY_3YR_RT_SUPP',
 'NOPELL_DEBT_N',
 'NOPELL_RPY_3YR_RT_SUPP',
 'NOTFIRSTGEN_RPY_5YR_N',
 'NOTFIRSTGEN_RPY_3YR_RT',
 'MALE_RPY_3YR_RT',
 'IND_RPY_3YR_RT',
 'NONCOM_RPY_3YR_RT_SUPP',
 'DEP_INC_N',
 'IND_INC_PCT_H1',
 'NOTFIRSTGEN_RPY_3YR_N',
 'MD_INC_RPY_5YR_RT',
 'HI_INC_DEBT_MDN',
 'NPCURL',
 'MALE_RPY_5YR_RT',
 'IND_RPY_3YR_RT_SUPP',
 'RPY_3YR_RT',
 'C200_L4_POOLED_SUPP',
 'RPY_3YR_N',
 'MD_INC_RPY_5YR_N',
 'DEP_INC_PCT_H2',
 'HI_INC_RPY_5YR_N',
 'CUML_DEBT_P90',
 'HI_INC_RPY_3YR_RT_SUPP',
 'NOTFIRSTGEN_DEBT_N',
 'DEBT_MDN',
 'FIRSTGEN_DEBT_N',
 'PELL_DEBT_MDN',
 'STABBR',
 'DEP_INC_PCT_M2',
 'NONCOM_RPY_3YR_RT',
 'FEMALE_DEBT_N',
 'INC_N',
 'APPL_SCH_N',
 'DEP_DEBT_N',
 'CUML_DEBT_P25',
 'DEP_RPY_5YR_N',
 'NONCOM_RPY_3YR_N',
 'DEP_DEBT_MDN',
 'DEP_RPY_3YR_RT_SUPP',
 'MALE_RPY_5YR_N',
 'DEP_STAT_PCT_IND',
 'GRAD_DEBT_MDN10YR_SUPP',
 'MALE_RPY_3YR_N',
 'APPL_SCH_PCT_GE2',
 'AccredAgency',
 'DEP_INC_PCT_H1',
 'FEMALE_RPY_5YR_N',
 'PAR_ED_PCT_HS',
 'INC_PCT_H1',
 'WDRAW_DEBT_MDN',
 'CUML_DEBT_P75',
 'IND_INC_PCT_LO',
 'LO_INC_RPY_3YR_N',
 'PELL_RPY_5YR_N',
 'MALE_DEBT_MDN',
 'CITY',
 'MD_INC_RPY_7YR_RT',
 'FEMALE_RPY_7YR_RT',
 'MALE_RPY_3YR_RT_SUPP',
 'NOTFIRSTGEN_DEBT_MDN',
 'HI_INC_RPY_5YR_RT',
 'DEP_RPY_5YR_RT',
 'MD_INC_DEBT_MDN',
 'RPY_5YR_RT',
 'FIRSTGEN_RPY_7YR_RT',
 'COMPL_RPY_3YR_N',
 'MALE_RPY_7YR_RT',
 'NOTFIRSTGEN_RPY_7YR_N',
 'IND_RPY_3YR_N',
 'INC_PCT_LO',
 'FIRSTGEN_RPY_3YR_N',
 'LO_INC_RPY_5YR_N',
 'RPY_7YR_RT',
 'CUML_DEBT_N',
 'MD_INC_RPY_3YR_N',
 'PELL_RPY_7YR_RT',
 'IND_INC_PCT_M2',
 'IND_RPY_7YR_N',
 'NOTFIRSTGEN_RPY_5YR_RT',
 'IND_DEBT_MDN',
 'DEBT_N',
 'FEMALE_DEBT_MDN',
 'NOPELL_RPY_5YR_N',
 'DEP_RPY_7YR_RT',
 'INC_PCT_M1',
 'MALE_DEBT_N',
 'NONCOM_RPY_7YR_N',
 'APPL_SCH_PCT_GE3',
 'DEP_RPY_7YR_N',
 'PELL_RPY_7YR_N',
 'HI_INC_RPY_7YR_RT',
 'NOPELL_RPY_5YR_RT',
 'IND_INC_AVG',
 'DEP_INC_AVG',
 'APPL_SCH_PCT_GE5',
 'INSTNM',
 'IND_RPY_5YR_RT',
 'IND_RPY_5YR_N',
 'FIRSTGEN_RPY_7YR_N',
 'NOPELL_DEBT_MDN',
 'RPY_5YR_N',
 'DEBT_MDN_SUPP',
 'GRAD_DEBT_MDN_SUPP',
 'NOPELL_RPY_7YR_RT',
 'FEMALE_RPY_5YR_RT',
 'WDRAW_DEBT_N',
 'INC_PCT_H2',
 'NOTFIRSTGEN_RPY_3YR_RT_SUPP',
 'IND_INC_PCT_H2',
 'MD_INC_DEBT_N',
 'HI_INC_DEBT_N',
 'COMPL_RPY_7YR_N',
 'APPL_SCH_PCT_GE4',
 'NOPELL_RPY_3YR_N',
 'PELL_RPY_5YR_RT',
 'MD_INC_RPY_7YR_N',
 'NONCOM_RPY_5YR_RT',
 'IND_INC_N']

In [28]:
df_not_numerical=df_without_nan_duplicate[non_numerical_columns]

In [29]:
df_not_numerical

,PAR_ED_PCT_MS,LO_INC_RPY_3YR_RT,LO_INC_RPY_7YR_RT,NONCOM_RPY_5YR_N,COMPL_RPY_3YR_RT,NOPELL_RPY_7YR_N,NOPELL_RPY_3YR_RT,LO_INC_RPY_3YR_RT_SUPP,MD_INC_RPY_3YR_RT,DEP_RPY_3YR_N,...,IND_INC_PCT_H2,MD_INC_DEBT_N,HI_INC_DEBT_N,COMPL_RPY_7YR_N,APPL_SCH_PCT_GE4,NOPELL_RPY_3YR_N,PELL_RPY_5YR_RT,MD_INC_RPY_7YR_N,NONCOM_RPY_5YR_RT,IND_INC_N
0,0.011687705,0.448163265306,0.601992966002,1502,PrivacySuppressed,475,PrivacySuppressed,0.448163265306,0.446488294314,1750,...,0,630,282,795,0.476052849,358,0.481228668942,781,0.392143808256,302
1,0.023132084,0.724256292906,0.762145748988,1907,PrivacySuppressed,1564,0.795454545455,0.724256292906,0.770134228188,2416,...,0.016393443,1907,1306,1398,0.177436554,1496,0.737975951904,1246,0.709491347666,1403
2,0.050314465,0.597701149425,0.704819277108,228,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,0.597701149425,PrivacySuppressed,PrivacySuppressed,...,PrivacySuppressed,113,PrivacySuppressed,PrivacySuppressed,0.218446602,PrivacySuppressed,PrivacySuppressed,114,0.543859649123,374
3,0.023476803,0.721404303511,0.765171503958,946,PrivacySuppressed,647,PrivacySuppressed,0.721404303511,0.824742268041,1152,...,0.022222222,764,714,563,0.158221303,747,0.746506986028,572,0.690274841438,720
4,0.016226535,0.310875331565,0.520091324201,2306,PrivacySuppressed,456,0.380829015544,0.310875331565,0.37610619469,2311,...,0,1008,278,733,0.399108138,386,0.382280557834,741,0.345186470078,555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,0.03577409,0.420927467301,0.528081123245,2197,PrivacySuppressed,664,PrivacySuppressed,0.420927467301,0.540268456376,1539,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546
7800,0.03577409,0.420927467301,0.528081123245,2197,PrivacySuppressed,664,PrivacySuppressed,0.420927467301,0.540268456376,1539,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546
7801,0.03577409,0.420927467301,0.528081123245,2197,PrivacySuppressed,664,PrivacySuppressed,0.420927467301,0.540268456376,1539,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546
7802,0.03577409,0.420927467301,0.528081123245,2197,PrivacySuppressed,664,PrivacySuppressed,0.420927467301,0.540268456376,1539,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546
7803,0.03577409,0.420927467301,0.528081123245,2197,PrivacySuppressed,664,PrivacySuppressed,0.420927467301,0.540268456376,1539,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546

###### by  the use of the code bellow mode of each column with non numerical format will be found

In [30]:
columns_modes = df_not_numerical.mode()

In [31]:
columns_modes

,PAR_ED_PCT_MS,LO_INC_RPY_3YR_RT,LO_INC_RPY_7YR_RT,NONCOM_RPY_5YR_N,COMPL_RPY_3YR_RT,NOPELL_RPY_7YR_N,NOPELL_RPY_3YR_RT,LO_INC_RPY_3YR_RT_SUPP,MD_INC_RPY_3YR_RT,DEP_RPY_3YR_N,...,IND_INC_PCT_H2,MD_INC_DEBT_N,HI_INC_DEBT_N,COMPL_RPY_7YR_N,APPL_SCH_PCT_GE4,NOPELL_RPY_3YR_N,PELL_RPY_5YR_RT,MD_INC_RPY_7YR_N,NONCOM_RPY_5YR_RT,IND_INC_N
0,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,...,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed

###### now we fill nan values of the columns that are not numerical with their modes

In [32]:
df_without_nan_duplicate_nonnumerical=df_not_numerical.fillna(columns_modes.iloc[0])
df_without_nan_duplicate_nonnumerical

,PAR_ED_PCT_MS,LO_INC_RPY_3YR_RT,LO_INC_RPY_7YR_RT,NONCOM_RPY_5YR_N,COMPL_RPY_3YR_RT,NOPELL_RPY_7YR_N,NOPELL_RPY_3YR_RT,LO_INC_RPY_3YR_RT_SUPP,MD_INC_RPY_3YR_RT,DEP_RPY_3YR_N,...,IND_INC_PCT_H2,MD_INC_DEBT_N,HI_INC_DEBT_N,COMPL_RPY_7YR_N,APPL_SCH_PCT_GE4,NOPELL_RPY_3YR_N,PELL_RPY_5YR_RT,MD_INC_RPY_7YR_N,NONCOM_RPY_5YR_RT,IND_INC_N
0,0.011687705,0.448163265306,0.601992966002,1502,PrivacySuppressed,475,PrivacySuppressed,0.448163265306,0.446488294314,1750,...,0,630,282,795,0.476052849,358,0.481228668942,781,0.392143808256,302
1,0.023132084,0.724256292906,0.762145748988,1907,PrivacySuppressed,1564,0.795454545455,0.724256292906,0.770134228188,2416,...,0.016393443,1907,1306,1398,0.177436554,1496,0.737975951904,1246,0.709491347666,1403
2,0.050314465,0.597701149425,0.704819277108,228,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,0.597701149425,PrivacySuppressed,PrivacySuppressed,...,PrivacySuppressed,113,PrivacySuppressed,PrivacySuppressed,0.218446602,PrivacySuppressed,PrivacySuppressed,114,0.543859649123,374
3,0.023476803,0.721404303511,0.765171503958,946,PrivacySuppressed,647,PrivacySuppressed,0.721404303511,0.824742268041,1152,...,0.022222222,764,714,563,0.158221303,747,0.746506986028,572,0.690274841438,720
4,0.016226535,0.310875331565,0.520091324201,2306,PrivacySuppressed,456,0.380829015544,0.310875331565,0.37610619469,2311,...,0,1008,278,733,0.399108138,386,0.382280557834,741,0.345186470078,555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,0.03577409,0.420927467301,0.528081123245,2197,PrivacySuppressed,664,PrivacySuppressed,0.420927467301,0.540268456376,1539,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546
7800,0.03577409,0.420927467301,0.528081123245,2197,PrivacySuppressed,664,PrivacySuppressed,0.420927467301,0.540268456376,1539,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546
7801,0.03577409,0.420927467301,0.528081123245,2197,PrivacySuppressed,664,PrivacySuppressed,0.420927467301,0.540268456376,1539,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546
7802,0.03577409,0.420927467301,0.528081123245,2197,PrivacySuppressed,664,PrivacySuppressed,0.420927467301,0.540268456376,1539,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546
7803,0.03577409,0.420927467301,0.528081123245,2197,PrivacySuppressed,664,PrivacySuppressed,0.420927467301,0.540268456376,1539,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546

###### now we check wich columns are still null in the nonnumerical columns

In [33]:
df_without_nan_duplicate_nonnumerical.columns[df_without_nan_duplicate_nonnumerical.isnull().any()].tolist()

[]

###### So far so good, there is not any column with null value in nonnumerical dataframe
___________________________________________________________________________________________________________________
____________________________________________________________________________________________________________________
____________________________________________________________________________________________________________________

###### now columns in the dataframe with numerical values could be find by the code below:

In [34]:
# numerical_columns=df_without_nan_duplicate.select_dtypes(include=['number']).columns
numerical_columns=df_without_nan_duplicate.select_dtypes(include=[int, float]).columns
numerical_columns

Index(['UNITID', 'OPEID', 'opeid6', 'HCM2', 'main', 'NUMBRANCH', 'PREDDEG',
       'HIGHDEG', 'CONTROL', 'st_fips',
       ...
       'D150_L4_POOLED', 'C200_L4', 'D200_L4', 'RET_FTL4', 'C200_L4_POOLED',
       'poolyrs200', 'D200_L4_POOLED', 'PCTFLOAN', 'UG25abv', 'CDR3'],
      dtype='object', length=302)

###### now lets see another dataframe that just involve columns with numerical values. in the second step I wnat to calculate the standard deviation for each column.

In [35]:
df_numerical=df_without_nan_duplicate[numerical_columns]

In [36]:
df_numerical

,UNITID,OPEID,opeid6,HCM2,main,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,st_fips,...,D150_L4_POOLED,C200_L4,D200_L4,RET_FTL4,C200_L4_POOLED,poolyrs200,D200_L4_POOLED,PCTFLOAN,UG25abv,CDR3
0,100654,100200,1002,0,1,1,3,4,1,1,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.8204,0.1049,0.163
1,100663,105200,1052,0,1,1,3,4,1,1,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.5397,0.2422,0.080
2,100690,2503400,25034,0,1,1,3,4,2,1,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,0.7629,0.8540,0.089
3,100706,105500,1055,0,1,1,3,4,1,1,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.4728,0.2640,0.077
4,100724,100500,1005,0,1,1,3,4,1,1,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.8735,0.1270,0.191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,48285703,157107,1571,0,0,8,0,0,1,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160
7800,48285704,157101,1571,0,0,8,0,0,1,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160
7801,48285705,157105,1571,0,0,8,0,0,1,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160
7802,48285706,157100,1571,0,1,8,0,0,1,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160
7803,48285707,157103,1571,0,0,8,0,0,1,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160

###### Normalizing the whole numerical values in the dataset

In [37]:
def scaling(column):

    min_value = column.min()
    max_value = column.max()
    scaled_column = (column - min_value) / (max_value - min_value)
    return scaled_column

# Apply Min-Max scaling function to each column
normalized_df = df_numerical.apply(scaling)

In [38]:
normalized_df

,UNITID,OPEID,opeid6,HCM2,main,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,st_fips,...,D150_L4_POOLED,C200_L4,D200_L4,RET_FTL4,C200_L4_POOLED,poolyrs200,D200_L4_POOLED,PCTFLOAN,UG25abv,CDR3
0,0.000000e+00,0.000000,0.000000,0.0,1.0,0.00,0.75,1.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.8204,0.104452,0.163
1,1.867799e-07,0.000061,0.001212,0.0,1.0,0.00,0.75,1.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.5397,0.241821,0.080
2,7.471197e-07,0.029308,0.582425,0.0,1.0,0.00,0.75,1.0,0.5,0.000000,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.7629,0.853927,0.089
3,1.079173e-06,0.000065,0.001284,0.0,1.0,0.00,0.75,1.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.4728,0.263632,0.077
4,1.452733e-06,0.000004,0.000073,0.0,1.0,0.00,0.75,1.0,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.8735,0.126563,0.191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,9.999999e-01,0.000694,0.013790,0.0,0.0,0.05,0.00,0.0,0.0,0.155844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160
7800,9.999999e-01,0.000694,0.013790,0.0,0.0,0.05,0.00,0.0,0.0,0.155844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160
7801,1.000000e+00,0.000694,0.013790,0.0,0.0,0.05,0.00,0.0,0.0,0.155844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160
7802,1.000000e+00,0.000694,0.013790,0.0,1.0,0.05,0.00,0.0,0.0,0.155844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160
7803,1.000000e+00,0.000694,0.013790,0.0,0.0,0.05,0.00,0.0,0.0,0.155844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.160

###### now we normalize the dataset

In [39]:
std_list = normalized_df.std()

In [40]:
std_list

UNITID            0.140912
OPEID             0.052209
opeid6            0.331146
HCM2              0.093619
main              0.443182
                    ...
poolyrs200        0.281119
D200_L4_POOLED    0.039634
PCTFLOAN          0.285572
UG25abv           0.229468
CDR3              0.095149
Length: 302, dtype: float64

In [41]:
df_std=pd.DataFrame(std_list, columns=['standard deviation'])

In [42]:
df_std

                standard deviation
UNITID                    0.140912
OPEID                     0.052209
opeid6                    0.331146
HCM2                      0.093619
main                      0.443182
...                            ...
poolyrs200                0.281119
D200_L4_POOLED            0.039634
PCTFLOAN                  0.285572
UG25abv                   0.229468
CDR3                      0.095149

[302 rows x 1 columns]

In [43]:
threshhold=0.3
standard_deviation_exceeds=df_std[df_std['standard deviation'] > threshhold]

In [44]:
standard_deviation_exceeds_columns=standard_deviation_exceeds['standard deviation']

In [45]:
standard_deviation_exceeds_columns

opeid6        0.331146
main          0.443182
HIGHDEG       0.329410
CONTROL       0.418612
PCIP12        0.392090
PCIP51        0.349355
CIP09BACHL    0.300147
CIP11ASSOC    0.347591
CIP11BACHL    0.336768
CIP13ASSOC    0.316742
CIP13BACHL    0.331330
CIP15ASSOC    0.307629
CIP23BACHL    0.303586
CIP24ASSOC    0.329181
CIP24BACHL    0.308175
CIP26BACHL    0.305300
CIP42BACHL    0.313712
CIP43ASSOC    0.339752
CIP43BACHL    0.315626
CIP45BACHL    0.303144
CIP50BACHL    0.313719
CIP51CERT1    0.307785
CIP51CERT2    0.319613
CIP51ASSOC    0.364155
CIP51BACHL    0.351125
CIP52CERT2    0.310449
CIP52ASSOC    0.364993
CIP52BACHL    0.362321
PFTFAC        0.310584
Name: standard deviation, dtype: float64

In [46]:
median = normalized_df.median()
median_df = pd.DataFrame(median, columns=['Median'])

In [47]:
median

UNITID            0.002697
OPEID             0.011743
opeid6            0.229945
HCM2              0.000000
main              1.000000
                    ...
poolyrs200        0.000000
D200_L4_POOLED    0.008080
PCTFLOAN          0.592600
UG25abv           0.413207
CDR3              0.126000
Length: 302, dtype: float64

In [48]:
median_df

                  Median
UNITID          0.002697
OPEID           0.011743
opeid6          0.229945
HCM2            0.000000
main            1.000000
...                  ...
poolyrs200      0.000000
D200_L4_POOLED  0.008080
PCTFLOAN        0.592600
UG25abv         0.413207
CDR3            0.126000

[302 rows x 1 columns]

In [49]:
df_numerical_withot_nan=normalized_df.fillna(median)

In [50]:
df_numerical_withot_nan

,UNITID,OPEID,opeid6,HCM2,main,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,st_fips,...,D150_L4_POOLED,C200_L4,D200_L4,RET_FTL4,C200_L4_POOLED,poolyrs200,D200_L4_POOLED,PCTFLOAN,UG25abv,CDR3
0,0.000000e+00,0.000000,0.000000,0.0,1.0,0.00,0.75,1.0,0.0,0.000000,...,0.007486,0.6324,0.008704,0.6957,0.637017,0.0,0.00808,0.8204,0.104452,0.163
1,1.867799e-07,0.000061,0.001212,0.0,1.0,0.00,0.75,1.0,0.0,0.000000,...,0.007486,0.6324,0.008704,0.6957,0.637017,0.0,0.00808,0.5397,0.241821,0.080
2,7.471197e-07,0.029308,0.582425,0.0,1.0,0.00,0.75,1.0,0.5,0.000000,...,0.007486,0.6324,0.008704,0.6957,0.637017,1.0,0.00808,0.7629,0.853927,0.089
3,1.079173e-06,0.000065,0.001284,0.0,1.0,0.00,0.75,1.0,0.0,0.000000,...,0.007486,0.6324,0.008704,0.6957,0.637017,0.0,0.00808,0.4728,0.263632,0.077
4,1.452733e-06,0.000004,0.000073,0.0,1.0,0.00,0.75,1.0,0.0,0.000000,...,0.007486,0.6324,0.008704,0.6957,0.637017,0.0,0.00808,0.8735,0.126563,0.191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,9.999999e-01,0.000694,0.013790,0.0,0.0,0.05,0.00,0.0,0.0,0.155844,...,0.007486,0.6324,0.008704,0.6957,0.637017,0.0,0.00808,0.5926,0.413207,0.160
7800,9.999999e-01,0.000694,0.013790,0.0,0.0,0.05,0.00,0.0,0.0,0.155844,...,0.007486,0.6324,0.008704,0.6957,0.637017,0.0,0.00808,0.5926,0.413207,0.160
7801,1.000000e+00,0.000694,0.013790,0.0,0.0,0.05,0.00,0.0,0.0,0.155844,...,0.007486,0.6324,0.008704,0.6957,0.637017,0.0,0.00808,0.5926,0.413207,0.160
7802,1.000000e+00,0.000694,0.013790,0.0,1.0,0.05,0.00,0.0,0.0,0.155844,...,0.007486,0.6324,0.008704,0.6957,0.637017,0.0,0.00808,0.5926,0.413207,0.160
7803,1.000000e+00,0.000694,0.013790,0.0,0.0,0.05,0.00,0.0,0.0,0.155844,...,0.007486,0.6324,0.008704,0.6957,0.637017,0.0,0.00808,0.5926,0.413207,0.160

###### lets see whether these numerical columns still have null values or not

In [51]:
null_percentage = df_numerical_withot_nan.isnull().mean() * 100

In [52]:
null_percentage

UNITID            0.0
OPEID             0.0
opeid6            0.0
HCM2              0.0
main              0.0
                 ...
poolyrs200        0.0
D200_L4_POOLED    0.0
PCTFLOAN          0.0
UG25abv           0.0
CDR3              0.0
Length: 302, dtype: float64

###### now lets join these two dataframes, non numerical value(df_without_nan_duplicate_nonnumerical) and numerical values(df_numerical_withot_nan)

In [53]:
df_cleaned=pd.concat([df_numerical_withot_nan, df_without_nan_duplicate_nonnumerical], axis=1)

In [54]:
df_cleaned

,UNITID,OPEID,opeid6,HCM2,main,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,st_fips,...,IND_INC_PCT_H2,MD_INC_DEBT_N,HI_INC_DEBT_N,COMPL_RPY_7YR_N,APPL_SCH_PCT_GE4,NOPELL_RPY_3YR_N,PELL_RPY_5YR_RT,MD_INC_RPY_7YR_N,NONCOM_RPY_5YR_RT,IND_INC_N
0,0.000000e+00,0.000000,0.000000,0.0,1.0,0.00,0.75,1.0,0.0,0.000000,...,0,630,282,795,0.476052849,358,0.481228668942,781,0.392143808256,302
1,1.867799e-07,0.000061,0.001212,0.0,1.0,0.00,0.75,1.0,0.0,0.000000,...,0.016393443,1907,1306,1398,0.177436554,1496,0.737975951904,1246,0.709491347666,1403
2,7.471197e-07,0.029308,0.582425,0.0,1.0,0.00,0.75,1.0,0.5,0.000000,...,PrivacySuppressed,113,PrivacySuppressed,PrivacySuppressed,0.218446602,PrivacySuppressed,PrivacySuppressed,114,0.543859649123,374
3,1.079173e-06,0.000065,0.001284,0.0,1.0,0.00,0.75,1.0,0.0,0.000000,...,0.022222222,764,714,563,0.158221303,747,0.746506986028,572,0.690274841438,720
4,1.452733e-06,0.000004,0.000073,0.0,1.0,0.00,0.75,1.0,0.0,0.000000,...,0,1008,278,733,0.399108138,386,0.382280557834,741,0.345186470078,555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,9.999999e-01,0.000694,0.013790,0.0,0.0,0.05,0.00,0.0,0.0,0.155844,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546
7800,9.999999e-01,0.000694,0.013790,0.0,0.0,0.05,0.00,0.0,0.0,0.155844,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546
7801,1.000000e+00,0.000694,0.013790,0.0,0.0,0.05,0.00,0.0,0.0,0.155844,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546
7802,1.000000e+00,0.000694,0.013790,0.0,1.0,0.05,0.00,0.0,0.0,0.155844,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546
7803,1.000000e+00,0.000694,0.013790,0.0,0.0,0.05,0.00,0.0,0.0,0.155844,...,0.004230118,1517,743,74,0.200646412,PrivacySuppressed,0.428571428571,669,0.478379608557,3546

In [56]:
import csv

def write_single_list_to_csv(file_name, data):
    with open(file_name, mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(data)


write_single_list_to_csv('cleaned_dataframe.csv', df_cleaned)